<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sevenre.trackre.vehicle"
    android:versionCode="12"
    android:versionName="1.0.3" >

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="com.sevenre.trackre.vehicle.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".DriverApplication">
        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivityHome"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivityAuthenticate"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivityTagging"
            android:label="@string/activity_tagging"
            android:parentActivityName="com.sevenre.trackre.vehicle.activity.ActivityHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Toolbar"/>

        <activity
            android:name="com.sevenre.trackre.vehicle.qrcode.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/icon"
            android:parentActivityName="com.sevenre.trackre.vehicle.activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivityOtherInfo"
            android:label="Other Info"
            android:parentActivityName="com.sevenre.trackre.vehicle.activity.ActivityHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Toolbar"/>

        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivitySimplyTrack"
            android:label="Just Track"
            android:parentActivityName="com.sevenre.trackre.vehicle.activity.ActivityHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Toolbar"/>

        <service android:name="com.sevenre.trackre.vehicle.network.TrackService" />
        <service android:name="com.sevenre.trackre.vehicle.network.TaggingService" />

        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivitySelectTrip"
            android:label="@string/title_activity_activity_select_trip"
            android:parentActivityName="com.sevenre.trackre.vehicle.activity.ActivityHome"
            android:theme="@style/AppTheme.Toolbar"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sevenre.trackre.vehicle.activity.ActivityHome" />
        </activity>

        <activity
            android:name="com.sevenre.trackre.vehicle.activity.ActivityTracking"
            android:label="@string/title_activity_activity_tracking"
            android:parentActivityName="com.sevenre.trackre.vehicle.activity.ActivityHome"
            android:theme="@style/AppTheme.Toolbar">
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDvNjk-BSwrGIcg9bsSHOzPIhoyzmz9kQM"
             />

        <!--android:value="AIzaSyBBzNRTmBrxSQAlaYZGe27LZ_v-mhpsO08"-->
        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />
        
        <receiver android:name=".utils.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
